%p
  #soundz
    %form{:action => "", :name => "tags_form_name", :method => "post"}
    %p
      // %label{:for => ""} ENter Tags
      %input{:type => "textbox", :name => "tags_name", :id => "tags_id", :placeholder => "Enter tags"}
    %p
      %input{:type => "submit", :class => "button", :value => "Srch!"}
  %section#trackzDisplay
